<div class="container" style="width: 70%;">

    <div class="row">
        <div class="col text-center">
            <button routerLink="/path/new" class="btn btn-primary">
            <i class="fa fa-plus"></i>
            Add a route plan
        </button>
        </div>
    </div>

    <hr>

    <h3 class="text-center">Your plans</h3>

    <table class="table">
        <thead>
            <tr>
                <th class="text-left" scope="col">Route id</th>
                <th class="text-center" scope="col">Description</th>
                <th class="text-center" scope="col">Location</th>
                <th class="text-center" scope="col"># Waypoints</th>
                <th class="text-center" scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let path of paths; let i = index" [attr.data-index]="i">
                <th class="text-left" scope="row" *ngIf="this.integerParser(ids[i].split('-')[1]) >= 97">{{ids[i]}}</th>
                <td class="text-center description" *ngIf="this.integerParser(ids[i].split('-')[1])  >= 97">{{path.description}}</td>
                <td class="text-center" *ngIf="this.integerParser(ids[i].split('-')[1])  >= 97"> . </td>
                <td class="text-center" *ngIf="this.integerParser(ids[i].split('-')[1])  >= 97">{{path.PATH.length}}</td>
                <td class="text-center" *ngIf="this.integerParser(ids[i].split('-')[1])  >= 97">
                    <button class="btn" [routerLink]="['/path',ids[i]]"><mat-icon>edit</mat-icon></button>
                    <button (click)="deletePath(path,ids[i])" class="btn"><mat-icon>delete</mat-icon></button>

                </td>
            </tr>

        </tbody>
    </table>

    <div *ngIf="loading" class="alert alert-info text-center mt-3">
        <h4 class="alert-heading">Loading your plans</h4>
        <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p>
            Please wait ...
        </p>
    </div>
</div>