<div class="contenedor">

    <div class="sidebar m-2">

        <h4>Path configuration</h4>

        <div class="row text-left">

            <div class="col">
                <button class="btn btn-danger" routerLink="/paths">
                    <i class="fa fa-arrow-left"></i>
                    Go back
                </button>
            </div>
        </div>

        <br>

        <div class="row">

            <div class="col">

                <form (ngSubmit)="save(f)" #f="ngForm">

                    <div class="form-group">
                        <label>Path ID <br><small>The unique identifier for the route plan</small></label>
                        <input [(ngModel)]="id" name="id" type="text" class="form-control" placeholder="{{id}}">
                    </div>

                    <br>

                    <div class="form-group">
                        <label>description (optional) <br><small>A reminder about the details and purpose of the fligth plan</small></label>
                        <textarea id="description" placeholder="this route is for ..." class="form-control" [(ngModel)]="path.description" name="description"></textarea>

                    </div>

                    <br>

                    <hr>


                    <!-- panel contraido/expandido para listar los waypoints-->
                    <mat-accordion>
                        <mat-expansion-panel (opened)=true>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    List of Waypoints
                                </mat-panel-title>

                                <mat-panel-description>
                                    edit the waypoints of the route

                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <div *ngIf="path.PATH.length==0">
                                <h5 class=" text-center ">No waypoints asociated with the route yet</h5>
                                <p class="text-center">add waypoints by clicking over the map</p>
                            </div>

                            <div *ngIf="path.PATH.length>0">
                                <h5 class=" text-center ">Waypoints</h5>

                                <table class="table ">
                                    <thead>
                                        <tr>
                                            <th scope="col " class="text-center ">Order #</th>
                                            <th scope="col " class="text-center ">latitude</th>
                                            <th scope="col " class="text-center ">longitude</th>
                                            <th scope="col " class="text-center ">height(m)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of path.PATH">
                                            <th scope="row " class="text-center ">{{item.ID}}</th>
                                            <td class="text-center ">{{item.ZLatitude}}</td>
                                            <td class="text-center ">{{item.XLongitude}}</td>
                                            <td class="text-center ">
                                                <div class="form-group w-100 ">
                                                    <input type="number " class="form-control text-center " placeholder={{item.YAltitude}} [(ngModel)]="path.PATH[item.ID].YAltitude" name="path.PATH[item.ID].YAltitude">
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </mat-expansion-panel>



                        <!-- panel expandido/contraido  -->
                        <mat-expansion-panel (opened)=true>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Camera Tasks
                                </mat-panel-title>
                                <mat-panel-description>
                                    configure camera actions along the flight

                                </mat-panel-description>

                            </mat-expansion-panel-header>

                        </mat-expansion-panel>
                    </mat-accordion>



                    <hr>

                    <div class="form-group text-center ">
                        <button mat-raised-button color="primary" class="w-50 " type="submit ">
                            <i class="fa fa-save "></i>
                            Submit
                        </button>
                    </div>






                </form>


            </div>

        </div>

    </div>

    <div class="map">

        <p>Seleccione en el mapa los waypoints a recorrer</p>
        <google-map width="auto" height="800px" [options]="options" (mapClick)="addWaypoint($event)">

            <map-marker *ngFor=" let markerPosition of currentPathGoogle " [position]="markerPosition ">
                <map-polyline [path]="currentPathGoogle "></map-polyline>
            </map-marker>
        </google-map>
    </div>
</div>