.contenedor {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.map {
    flex-basis: calc(60%);
    height: 100%;
}

.sidebar {
    flex-basis: calc(40%);
    height: 100%;
}

.mitabla {
    height: 300px;
    overflow-y: auto;
    /* Trigger vertical scroll    */
    overflow-x: hidden;
}

.configuration-panel {
    height: 100%;
    overflow-y: auto;
    /* Trigger vertical scroll    */
    overflow-x: hidden;
}

.point-input {
    display: inline;
}