<div class="container">
  <div class="row">
    <div class="col-lg-8" >
      <div *ngIf="isImage ; else video">
        <img [src]="imageUrl" />
      </div>
    <ng-template #video>
      <video muted autoplay  *ngIf="videoUrl" id="video1" height="400px" class="img" controls>
        <source [src]="videoUrl" type='video/mp4' />
        Browser not supported
    </video>
    </ng-template>
  </div>
    <div class="col-lg-4">
      <h2>Analysis</h2>
      <div class="row">
        <div class="col-lg-6">
          <button (click)="btnPersonsCount()">Persons Count</button>
        </div>
      </div>
    </div>
  </div>
</div>
