<div class="container">
    <div class="row">
        <h1>Gallery</h1>
        <div class="col-lg-6">
            <h2>Espacio para mapa</h2>
            <br />
            <google-map width="auto" height="800px">

            </google-map>

        </div>
        <div class="col-lg-6" id="image_collection">
            <div class="container vertical-scrollable">
              <div *ngFor="let img of images">
                <img class="drone-image" src= {{img.url}}  id={{img.name}}  />
              </div>
            </div>
        </div>
    </div>
</div>
n
